
// #part-1 {
    //  background: lightgreen;
    // }
    
    // .first {
        //     width: 200px;
        //     height: 200px;
        //     background: red;
        // }
        
        // .middle {
            //     width: 100px;
            //     height: 100px;
            //     background: blue;
            // }
            
            // #part-1 .last {
                //     width: 100px;
                //     height: 100px;
                //     background: rgba(0,0,0,0.8);
                // }
                
                // /* content, padding, border, outline, margin */
                // .box {
                    //     padding: 5px;
                    //         margin: 40px;
                    // }
                    
                    // #part-3 {
                        //     display: flex;
                        //     flex-direction: row;
                        // }
                        
                        // .position-box-1 {
                            //     flex: 1;
                            // }
                            
                            // .position-box-2 {
//     flex: 2;
// }

// .box-text {
//     font-family: "roboto", sans-serif;
// }


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

$redColor: #ff0000;

#part-3 {
    background-color: black;

    .position-box-1 {
        background: $redColor;
    }

    .position-box-2 {
        background: blue;
    }
}